.password-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5763a5;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 12px;
  height: 80vh;
}
@media screen and (min-width: 768px) {
  .password-inputs-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.add-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #454f84;
  padding: 10px;
  padding-left: 15px;
  margin-left: 15px;
  border-radius: 12px;
  font-family: 'Roboto';
  width: 460px;
  order: 1;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .add-inputs-container {
    order: 0;
    width: 40%;
    margin-right: 10px;
  }
}
.heading {
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Roboto';
  align-self: flex-start;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.input-container {
  display: flex;
  border-radius: 5px;
  border: 0px none;
  padding: 10px;
  background-color: #ffffff;
  width: 400px;
  margin-bottom: 20px;
}

.input-logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.input-item {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto';
  outline: none;
  background-color: transparent;
  border: 0px none;
  border-left: 1px solid #b6c3ca;
  width: 300px;
  padding-left: 12px;
}
.add-button-container {
  display: flex;
  justify-content: flex-end;
}
.add-button {
  font-size: 16px;
  font-weight: 500;
  background-color: #0b69ff;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;

  border: none;
  width: 90px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
.password-manager-image {
  height: 68vh;
  width: 50%;
  margin-left: 20px;
}
.your-passwords-box-container {
  display: flex;
  flex-direction: column;
  background-color: #5763a5;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  height: 80vh;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 40px;
}
@media screen and (min-width: 768px) {
  .your-passwords-box-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.your-password-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.your-password-heading {
  margin-left: 30px;
  font-family: 'Roboto';
  font-size: 23px;
  color: #ffffff;
  font-weight: 600;
}
.count {
  border: 1px solid #ffffff;
  border-radius: 12px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto';
  padding-left: 10px;
  padding-right: 10px;
}
.search-password-container {
  display: flex;
  background-color: #e2e8f0;
  border-radius: 2px;
  border: 0px none;
  padding: 10px;
  width: 350px;
  margin-bottom: 30px;
  margin-top: 15px;
  margin-right: 30px;
  height: 40px;
}
.search-logo {
  width: 25px;
}
.line-break {
  border: 2px solid #94a3b8;
  width: 100%;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  font-family: 'Roboto';
}
.password-ul-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
}
@media screen and (min-width: 768px) {
  .password-ul-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.no-passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.no-password-image {
  height: 40vh;
  width: 40%;
  border: none;
}
.no-passwords {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto';
}
